<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="font-inter antialiased bg-white text-gray-900 tracking-tight">
    <div class="flex flex-col min-h-screen overflow-hidden">
      {{ block "header" . }}{{ partial "nav" . }}{{end}}

      {{ block "main" . }}{{ end }}

      {{ block "footer" . }}{{ partial "footer" . }}{{end}}

      {{ $script := .Site.Data.webpack.main }}
      {{ with $script.js }}
        <script src="{{ relURL . }}"></script>
      {{ end }}
    </div>
  </body>
</html>
